<% provide(:title, 'About Us') %>

<body class="body_orange">
  
  <section class="orange">
  	<div class="container main_container">
    	<div class="how_its_work_con">
            <div class="row">
                <div class="col-md-12">
                    <div class="about_gordo">
                         <h2>About Gordo</h2>
                         <div class="gordo_img"><img src="/assets/aboutIcons.png"/></div>
                         <p>Gordo is food, now. </p>
                         <p>Delivery is super rapid, fun and hassle-free. </p>
                         <p>It is not about choice, it is about convenience. </p>
                         <p>We make the decision thoughtless and delivery always on time. </p>
                         <p>It’s like magic! </p>
                         <div class="mobile_login_logo">
                            <a class="mobile_logo" href="#"><img src="/assets/mobile_logo.png"/></a>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn_purple btn-lg btn-block" href="/signin">Order Now!</a>
                </div>
            </div>
        </div>
    </div>	
    
  </section>
</body>
