<%# provide(:title, 'Contact') %>
<!-- <h1>Contact</h1>
<p>
  If you would like to contact us us, please e-mail Gordo at  <a href="mailto:team@gordo.com">team@gordo.com</a>.
</p> -->

<body class="body_orange">
    
  <section class="orange">
  	<div class="container main_container">
    	<div class="how_its_work_con">
            <div class="row">
                <div class="col-md-12">
                    <div class="about_gordo">
                         <h2>Contact Us!</h2>
                         <p>Get in touch with any questions or comments. We’d love to hear from you!</p>
                          <div class="mobile_login_form">
                            <form>
                                <div class="form-group">
                                  <input type="text" id="login-name" placeholder="Name" value="" class="form-control login-field">
                                </div>
                                <div class="form-group">
                                  <input type="text" id="login-name" placeholder="Email" value="" class="form-control login-field">
                                </div>
                                <div class="form-group">
                                  <input type="text" id="login-name" placeholder="Order Number (Optional)" value="" class="form-control login-field">
                                  <label for="login-pass" class="login-field-icon fui-check-inverted"></label>
                                </div>
                                <div class="form-group">
                                  <textarea rows="6" id="login-name" placeholder="Message" value="" class="form-control login-field"></textarea>
                                </div>
                                <a href="#" class="btn btn_purple btn-lg btn-block">Send Message</a>
                            </form>
                    </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>	
    
  </section>
</body>