<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help for the Gordo App at the
  <a href="http://getgordo.com/help">Gordo help page</a>.
  To get answers on why Rahil is so tall
  <a href="http://getgordo.com/rahil">Rahil Height Guide</a>.
</p>