<div class="center hero-unit">
  <h1>Gordo App</h1>
  <h2>
    This is the home page for
    <a href="http://getgordo.com/">Gordo</a>
     - feeding you since 2014.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>