<body class="body_orange">
  <section class="orange">
    <div class="container main_container">
      <div class="how_its_work_con">
            <div class="row">
                <div class="col-md-12">
                    <div class="how_its_work">
                         <h2>How it Works!</h2>
                         <p>Gordo is simple! In just three steps, you’ll have fresh local meals delivered to your doorstep!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="stepsCon">
                        <ul>
                            <li>
                                <span><img src="/assets/step1-87.png"/></span>
                                <p>Create a new account or login.</p>
                            </li>
                            <li>
                                <span><img src="/assets/step2-87.png"/></span>
                                <p>Choose your meal and review your order.</p>
                            </li>
                            <li>
                                <span class="last"><img src="/assets/step3-87.png"/></span>
                                <p>Confirm your information, and the order is complete!</p>
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
       
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn_purple btn-lg btn-block" href="/signin">Order Now!</a>
                </div>
            </div>
        </div>
    </div>  
    
  </section>
</body>