<body class="body_orange">
  <section class="orange">
      <div class="container main_container">
        <div class="row">
            <div class="col-md-12">
                <div class="mobile_login_steps">
                    <div class="step_show">
                        <div class="step_left pull-left">
                            <h2>Forget Password</h2>
                          </div>
                          <div class="step_center">
                            <img src="/assets/mobile_step1.png"/>
                          </div>
                      </div>
                  </div>
                  <div class="mobile_login_logo">
                      <a class="mobile_logo" href="#"><img src="/assets/mobile_logo.png"/></a>
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <div class="mobile_login_form">
                    
                          <%= form_tag "/forget_password_token", :method => 'post' do %>
                              <div class="form-group">
                                <%= text_field_tag('email', "", {:class => "form-control login-field", :placeholder => "Please Enter Your Email Address"}) %>
                                <label class="login-field-icon fui-user" for="login-name"></label>
                              </div>
                              <%= submit_tag("Submit", {:class => "btn btn_purple btn-lg btn-block" } )%>
                          <% end %>
                  </div>
                  
              </div>
          </div>
          
          </div>
      </div>  
  </section>
</body>