<li>
  <span class="address"><%= wrap(order.address) %></span>
  <span class="timestamp">
    Placed <%= time_ago_in_words(order.created_at) %> ago.
  </span>
  <% if current_user?(order.user) %>
    <%= link_to "cancel", order, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: order.address %>
  <% end %>
</li>