<footer class="footer">
  <small>
    <a href="http://getgordo.com/">Gordo</a>
    by Team Faty
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://blog.getgordo.com/">Blog</a></li>
    </ul>
  </nav>
</footer>